.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
target
files
afileserver

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

app-admin/src/main/resources/static/


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

*rebel.xml*

._.DS_Store
.DS_Store
node_modules/
bower_components/

*.log
#log
*.log.*
logs/

*velocity.log*
